.answer-drawer {
    width: 640px;
    margin: 10px 0;
    padding: 10px 10px 10px 0;
    background-color: rgb(31, 34, 39);
    border-radius: 5px;
    animation: trophy 0.45s 1 forwards;

    h1, h2, h3, h4, h5, h6, p, ul, ol {
        color: white;
        white-space: normal;
        width: inherit;
        margin: 5px 0;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    }

    ul, ol { margin-left: 10px; }
    a, a:visited, a:hover { color: #00a2fa !important; }
    pre { border-radius: 3px; }
    img {
        width: 98%;
        margin: 10px 1%;
    }

    .answer-btn   { margin: 5px 10px; }
    .drawer-clear { clear: both; }

    .drawer-column {
        width: 100px;
        float: left;
    }

    .drawer-content {
        width: calc(100% - 100px);
        float: left;
    }
}
