.answer-drawer {
    width: 640px;
    margin: 10px 0;
    padding: 10px 10px 10px 10px;
    background-color: rgb(31, 34, 39);
    border-radius: 5px;
    animation: trophy 0.45s 1 forwards;
    @keyframes trophy {
        0% {
          transform: translateY(500px);
          opacity: 0;
        }
        35% {
          opacity: 0;
        }
        100% {
          transform: translateY(0px);
          opacity: 1;
        }
    }

    h1, h2, h3, h4, h5, h6, p, ul, ol {
        color: white;
        white-space: normal;
        width: inherit;
        margin: 5px 0;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    }

    ul, ol { margin-left: 10px; }
    a, a:visited, a:hover { color: #00a2fa !important; }
    pre { border-radius: 3px; }
    img {
        width: 98%;
        margin: 10px 1%;
    }
}