.info-bar {
  height: 50px;
  min-width: 200px;
  margin-top: 20px;
  background: #282c34; }
  .info-bar img {
    width: 25px;
    margin: 2px 5px;
    float: left; }
  .info-bar h1 {
    font-size: 32px;
    border-right: 1px solid #a9a9a9;
    text-align: center; }
  .info-bar h1, .info-bar h4 {
    margin: 0;
    line-height: initial; }
